@{
    ViewBag.Title = "编辑计划任务";
}
@using LCL.MvcExtensions;
@using UIShell.RbacPermissionService;
@model AddOrEditViewModel<ScheduledEvents>

<!-- Page title -->
<div class="page-title">
    <h2>
        <i class="icon-desktop color"></i> 计划任务 <small>
            @{
                string actionTag = "";
                if (Model.Added) { actionTag = "新增一个计划任务"; } else { actionTag = "编辑一个计划任务"; }
            }@actionTag
        </small>
    </h2> <hr />
</div>
<!-- Page title -->
<div class="row">
    <!--col-md-6 start-->
    <div class="col-md-12">
        <!--box-info start-->
        <div class="col-md-12">
            <!--box-info start-->
            <div class="awidget">
                <div class="awidget-head">
                    <h3>计划任务</h3>
                </div>
                <div class="awidget-body">
                    <!--form-horizontal row-border start-->
                    @using (Html.BeginForm(Model.Added ? "Add" : "Edit", "Schedule", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    {
                        @Html.HiddenFor(c => c.CurrentPageNum)
                        @Html.HiddenFor(c => c.PageSize)
                        @Html.HiddenFor(c => c.Entity.ID)
                        <table class="table table-hover table-bordered">
                            <tr>
                                <td width="15%" class="tableleft">启用<s style="color:red;">*</s></td>
                                <td>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(c => c.Entity.Enable, 1, new { @id = "Enable", @name = "rdolstState" })开启&nbsp;&nbsp;
                                    @Html.RadioButtonFor(c => c.Entity.Enable, 0, new { @id = "Enable", @name = "rdolstState" })关闭
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" class="tableleft">名称<s style="color:red;">*</s></td>
                                <td>
                                    @Html.TextBoxFor(c => c.Entity.Key, new { @placeholder = "请输入名称" })
                                    @Html.ValidationMessageFor(c => c.Entity.Key)
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" class="tableleft">计划任务类型<s style="color:red;">*</s></td>
                                <td>
                                    @Html.TextBoxFor(c => c.Entity.ScheduleType, new { @placeholder = "请输入计划任务类型", @style = "width: 581px;", })
                                    @Html.ValidationMessageFor(c => c.Entity.ScheduleType)<br />
                                    如：UIShell.EducationDeviceMaintenanceEvent.ClearCatchEvent, UIShell.EducationDeviceMaintenanceEvent
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" class="tableleft">定时执行 @Html.RadioButtonFor(c => c.Entity.ExetimeType, 1, new { @id = "ExetimeType", @name = "ExetimeType" })</td>
                                <td>
                                    <select id="hour" name="hour">
                                        <option value="1">1</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="7">7</option>
                                        <option value="9">9</option>
                                        <option value="11">11</option>
                                        <option value="13">13</option>
                                        <option value="15">15</option>
                                        <option value="17">17</option>
                                        <option value="19">19</option>
                                    </select>(时)
                                    每天什么时候执行？
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" class="tableleft">周期执行 @Html.RadioButtonFor(c => c.Entity.ExetimeType, 0, new { @id = "ExetimeType", @name = "ExetimeType" })</td>
                                <td>
                                    @Html.TextBoxFor(c => c.Entity.timeserval, new { @placeholder = "请输入分钟" })（分钟）
                                    @Html.ValidationMessageFor(c => c.Entity.timeserval)
                                    需要循环执行？
                                </td>
                            </tr>
                            <tr>
                                <td class="tableleft"></td>
                                <td>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                    <button type="button" class="btn btn-default" id="backid" onclick="javacript:history.go(-1);">返回列表</button>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

