@using LCL.MvcExtensions;
@{
    ViewBag.Title = "计划任务列表";
}
<!-- Page title -->
<div class="page-title">
    <h2><i class="icon-desktop color"></i> 计划任务 <small>显示所有计划任务</small></h2>
    <hr />
</div>

<!-- Page title -->
<div class="awidget">
    <div class="awidget-head">
        <div class="row">
            <div class="col-md-10">
                <span>总数：@Model.TotalCount</span>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-warning pull-right" onclick="javascript: location.href='@Url.Action("AddOrEdit",
    new { currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';">
                    新 增
                </button>
            </div>
        </div>
    </div>
    <div class="awidget-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>操作</th>
                            <th>计划任务名称</th>
                            <th>执行方式</th>
                            <th>上次执行时间</th>
                            <th>状态</th>
                            <th>级别</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var view in Model.PagedModels)
                            {
                                <tr>
                                    <td>
                                        @if (!view.Issystemevent)
                                        {
                                            <button type="button" class="btn btn-xs btn-warning"
                                                    onclick="javascript: location.href = '@Url.Action("AddOrEdit", new { Key = @view.Key, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';">
                                                <i class="icon-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-xs btn-danger"
                                                    onclick="javacript: if (confirm('确认要删除这条数据吗？')) {  location.href = '@Url.Action("Delete", new { Key = @view.Key, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })'; };">
                                                <i class="icon-remove"></i>
                                            </button>
                                            <a class="btn btn-xs btn-primary" href="../Schedule/ExecCommand?Key=@view.Key">立即执行</a>
                                        }
                                    </td>
                                    <td>&nbsp;@view.Key</td>
                                    <td>&nbsp;@view.Exetime</td>
                                    <td>
                                        &nbsp;
                                        @if (@view.Lastexecuted != Convert.ToDateTime("1999-01-01"))
                                        {
                                            @view.Lastexecuted.ToString("yyyy-MM-dd");
                                        }
                                    </td>
                                    <td>
                                        &nbsp;
                                        @{
                                        string _Enable = "";
                                        if (view.Enable)
                                        {
                                            _Enable = "开启";
                                        }
                                        else
                                        {
                                            _Enable = "关闭";
                                        }
                                        }@_Enable
                                    </td>
                                    <td>
                                        &nbsp;
                                        @{
                                        string _Issystemevent = "";
                                        if (view.Issystemevent)
                                        {
                                            _Issystemevent = "系统级";
                                        }
                                        else
                                        {
                                            _Issystemevent = "非系统级";
                                        }
                                        }@_Issystemevent
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @Html.Partial("_PagedListBottom")
    </div>
</div>
