@using LCL.MvcExtensions;
@{
    ViewBag.Title = "系统操作日志";
}
<form class="form-inline" action="Index" role="form">
    <select name="Logtype" id="Logtype" class="form-control" style="width:120px;">
        <option value="0">==日志类型==</option>
        <option value="0">未指定类型</option>
        <option value="1">执行命令</option>
        <option value="2">打开模块</option>
        <option value="3">登录</option>
    </select>&nbsp;&nbsp;
    <select name="Scope" id="Scope" class="form-control" style="width:150px;">
        <option value="">==请选择==</option>
        <option value="UserName">用户名</option>
        <option value="UserName">标题</option>
        <option value="UserName">内容</option>
        <option value="UserName">浏览器</option>
        <option value="IP">IP地址</option>
    </select>&nbsp;&nbsp;
    <label class="sr-only" for="inputfile">搜:</label>
    <input type="text" name="Keyword" id="Keyword" class="input-large" placeholder="请输入" />
    <button type="submit" class="button button-info">
        <i class="icon-search"></i> 查询
    </button>
</form>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>用户名</th>
            <th>日志类型</th>
            <th>操作日期</th>
            <th>IP地址</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var view in Model.PagedModels)
            {
                <tr>
                    <td>@view.Title</td>
                    <td>@view.Content</td>
                    <td>@view.UserName</td>
                    <td>@view.LogType</td>
                    <td>@view.UpdateDate</td>
                    <td>@view.IP</td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.Partial("_PagedListBottom")
@section scripts{
   
}




