@{
    ViewBag.Title = "编辑角色";
}

@using LCL.MvcExtensions
@using UIShell.RbacPermissionService
@model AddOrEditViewModel<Role>

<div class="row">
    <ul class="breadcrumb">
        <li><a href="/UIShell.RbacManagementPlugin/Role/Index">角色列表</a> <span class="divider">/</span></li>
        <li class="active">@{
            string actionTag = "";
            if (Model.Added) { actionTag = "新增一个角色"; } else { actionTag = "编辑一个角色"; }
        }@actionTag</li>
    </ul>
</div>
<!-- Page title -->
<div class="row">
    <!--form-horizontal row-border start-->
    @using (Html.BeginForm(Model.Added ? "Add" : "Edit", "Role", FormMethod.Post, new { @class = "form-horizontal well", @role = "form" }))
    {
        @Html.HiddenFor(c => c.CurrentPageNum)
        @Html.HiddenFor(c => c.PageSize)
        @Html.HiddenFor(c => c.Entity.ID)
        @Html.HiddenFor(c => c.Entity.RoleType)

        <div class="control-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.Name)</label>
            <div class="controls">
                @Html.TextBoxFor(c => c.Entity.Name, new { @class = "form-control", @placeholder = "请输入名称" })
                @Html.ValidationMessageFor(c => c.Entity.Name)
            </div>
        </div>
        <div class="control-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.Remark)</label>
            <div class="controls">
                @Html.TextBoxFor(c => c.Entity.Remark, new { @class = "form-control", @placeholder = "请输入描述" })
                @Html.ValidationMessageFor(c => c.Entity.Remark)
            </div>
        </div>


        <div class="row actions-bar">
            <div class="form-actions offset3">
                <button type="submit" class="button button-primary" onclick="return VerifyFrom();">保存</button>
                <button type="reset" class="button">重置</button>
                <a class="button button-default" href="/UIShell.RbacManagementPlugin/Role/Index">返回</a>
            </div>
        </div>

    }
</div>
@section scripts{
    <script type="text/javascript">
        function VerifyFrom() {
            var Name = $("#Entity_Name").val();
            if (Name.length <= 1) {
                $("#Entity_Name_validationMessage").html("名称不能为空");
                $("#Entity_Name").focus();
                return false;
            }
            $.getJSON("CheckRoleName", { RoleName: Name }, function (data) {
                if (data == false) {
                    return true;

                } else {
                    alert("此身份证已办理，请跳到补卡页面进行补卡！！！");
                    return false;
                }
            });
            return true;
        }
    </script>
}
