@using LCL.MvcExtensions;
@using UIShell.RbacPermissionService;

@{
    ViewBag.Title = "角色管理";
}
<button type="button" class="btn"
        onclick="javascript: location.href='@Url.Action("AddOrEdit", 
        new { currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';">
    新增
</button>
<table class="easyui-datagrid" title="角色管理">
    <tr>
        <th></th>
        <th>角色管理</th>
    </tr>
    @{
        foreach (var org in Model.PagedModels)
        {
            <tr>
                <td>
                    <button type="button"
                            onclick="javascript: location.href = '@Url.Action("AddOrEdit", new { id = @org.ID, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';">
                        修改
                    </button>
                    <button type="button"
                            onclick="javacript: if (confirm('确认要删除这条数据吗？')) {  location.href = '@Url.Action("Delete", new { id = @org.ID, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })'; };">
                        删除
                    </button>

                </td>
                <td>@org.Name</td>
            </tr>
        }
    }
</table>



