<!DOCTYPE html>
<html>
<head>
    @using LCL.MvcExtensions;
    @using UIShell.EasyUIAdminShellPlugin;
    @using UIShell.RbacPermissionService;
    <meta charset="UTF-8" />
    <base target="_blank" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- Title here -->
    <title>@LAppliction.Config.CompanyName</title>
    <!-- Description, Keywords and Author -->
    <meta name="keywords" content="MVC,EasyUI,LCL,DDD,Domain,Services,Specifications,Events" />
    <meta name="description" content="ASP.NET MVC+EasyUI+LCL+插件构建的企业信息化快速开发框架,LCLFramework就是一套在.NET下支持面向领域驱动的软件系统管理类软件的快速开发框架" />
    <meta name="author" content="Luomg" />
    <meta name="copyright" content="All Rights Reserved, Copyright (C) 2015, luomg, Ltd." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/themes/default/easyui.css"))" />
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/themes/icon.css"))" />
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/easyuiDefault.css"))" />
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/icons.css"))" />

    <!--加载easyui JS-->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Scripts/jquery-1.8.0.min.js"))" charset="utf-8"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/jquery.min.js"))" charset="utf-8"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/jquery.easyui.min.js"))" charset="utf-8"></script>
    <script src="/Plugins/UIShell.EasyUIAdminShellPlugin/Content/JQueryEasyUI/locale/easyui-lang-zh_CN.js"></script>
    <!--加载LCL JS-->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/Core/LCL.JQuery.Base.js"))" type="text/javascript" charset="utf-8"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/Core/LCL.JQuery.Core.js"))" type="text/javascript" charset="utf-8"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/Core/LCL.JQuery.Plugins.js"))" type="text/javascript" charset="utf-8"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/Core/LCL.JQuery.JSON.js"))" type="text/javascript" charset="utf-8"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/Core/LCL.PageModel.js"))" type="text/javascript" charset="utf-8"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/jquery.easyui.common.js"))" type="text/javascript" charset="utf-8"></script>

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("header", required: false)
</head>
<body style="overflow: hidden; overflow-y: hidden; overflow-x: hidden;" scroll="no" class="easyui-layout" fit="true">

    @RenderBody()
  
    @RenderSection("scripts", required: false)
</body>
</html>

