<!DOCTYPE html>
<html>
<head>
    @using LCL.MvcExtensions;
    @using UIShell.EasyUIAdminShellPlugin;
    @using UIShell.RbacPermissionService;
    <!-- Title here -->
    <title>@LAppliction.Config.CompanyName</title>
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/themes/default/easyui.css"))">
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/themes/icon.css"))">
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/easyuiDefault.css"))">
    <link rel="stylesheet" type="text/css" href="@(Url.BundleContent(BundleActivator.Bundle, "Content/icons.css"))" />

    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/jquery.min.js"))"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/jquery.easyui.min.js"))"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Content/JQueryEasyUI/locale/easyui-lang-zh_CN.js"))"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "Scripts/outlook2.js"))"></script>
    <!-- Favicon -->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="text/javascript">
        //datagrid宽度高度自动调整的函数
        $.fn.extend({
            resizeDataGrid: function (heightMargin, widthMargin, minHeight, minWidth) {
                var height = $(document.body).height() - heightMargin;
                var width = $(document.body).width() - widthMargin;
                height = height < minHeight ? minHeight : height;
                width = width < minWidth ? minWidth : width;
                $(this).datagrid('resize', {
                    height: height,
                    width: width
                });
            }
        });
    </script>
    @RenderSection("header", required: false)
</head>
<body style="overflow: hidden; overflow-y: hidden; overflow-x: hidden;" scroll="no" class="easyui-layout" fit="true">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>