@{ 
    ViewBag.Title = "编辑角色权限"; 
} 
 
@using LCL.MvcExtensions 
@using UIShell.RbacPermissionService 
@model AddOrEditViewModel<RoleAuthority> 
 
<!-- Page title --> 
<div class="page-title"> 
    <h2><i class="icon-desktop color"></i> 角色权限 <small>  
          @{ 
            string actionTag=""; 
            if (Model.Added) { actionTag = "新增一个角色权限"; } else { actionTag = "编辑一个角色权限"; } 
            }@actionTag 
   </small></h2> <hr /> 
</div> 
<!-- Page title --> 
 
<div class="row"> 
    <!--col-md-6 start--> 
    <div class="col-md-12"> 
        <!--box-info start--> 
        <div class="col-md-12"> 
            <!--box-info start--> 
            <div class="awidget"> 
                <div class="awidget-head"> 
                    <h3>角色权限</h3> 
                </div> 
                <div class="awidget-body"> 
                    <!--form-horizontal row-border start--> 
                    @using (Html.BeginForm(Model.Added ? "Add" : "Edit", "RoleAuthority", FormMethod.Post, new { @class = "form-horizontal", @role = "form" })) 
                    { 
                        @Html.HiddenFor(c => c.CurrentPageNum) 
                        @Html.HiddenFor(c => c.PageSize) 
                        @Html.HiddenFor(c => c.Entity.ID) 
 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.BlockKey)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.BlockKey, new { @class = "form-control", @placeholder = "请输入块" }) 
                                @Html.ValidationMessageFor(c => c.Entity.BlockKey) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.ModuleKey)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.ModuleKey, new { @class = "form-control", @placeholder = "请输入模块" }) 
                                @Html.ValidationMessageFor(c => c.Entity.ModuleKey) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.OperationKey)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.OperationKey, new { @class = "form-control", @placeholder = "请输入功能" }) 
                                @Html.ValidationMessageFor(c => c.Entity.OperationKey) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.AuthorityType)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.AuthorityType, new { @class = "form-control", @placeholder = "请输入类型" }) 
                                @Html.ValidationMessageFor(c => c.Entity.AuthorityType) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">上一级</label> 
                            <div class="col-sm-10"> 
                                 @Html.DropDownList("ddlRoleAuthority", ViewData["ddlRoleAuthority"] as IEnumerable<SelectListItem>) 
                            </div> 
                        </div> 
 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label"></label> 
                            <div class="col-sm-10"> 
                                <button type="submit" class="btn btn-primary">保存</button>&nbsp;&nbsp; 
                                <button type="button" class="btn btn-default" onclick="javascript: window.history.back();">返回</button> 
                            </div> 
                        </div> 
                         
                         
                    } 
                </div> 
            </div> 
 
        </div> 
    </div> 
</div> 
