@using LCL.MvcExtensions;
@using LCL.MetaModel;
@{
    ViewBag.Title = "角色权限";
}
<!-- Page title -->
<div class="page-title">
    
    <h2>角色-><i class="icon-desktop color"></i> 角色权限: <small>显示所有 @ViewData["RoleName"] 角色权限</small></h2>
    <hr />
</div>
<!-- Page title -->
@using (Html.BeginForm("Save", "RoleAuthority", FormMethod.Post, new { @class = "form-horizontal", @name = "form1", @id = "form1" }))
{
    <table class="tb_searchbar">
        <tr>
            <td class="td_head" colspan="2">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="SelectAll();" />全选
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="UnselectAll();" />取消全选
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="$('form1').submit();" />保存
                <input type="hidden" id="RoleId" name="RoleId" value="@ViewData["roleid"]" /><br />
            </td>
        </tr>
        @foreach (var node in CommonModel.Modules.Roots)
        {
            <tr>
                <td width="10%" class="td_title"><input type="checkbox" id="@node.KeyLabel" name="moduleName" value="@node.KeyLabel" />&nbsp;@node.Label</td>
                <td width="90%">
                    @if (node.HasSubMenu())
                    {
                        <table class="tb_searchbar">
                            @foreach (var child in node.Children)
                            {
                                <tr>
                                    <td width="10%" class="td_title"><input type="checkbox" id="@child.KeyLabel" name="moduleName" value="@node.KeyLabel/@child.KeyLabel" />&nbsp;@child.Label</td>
                                    <td width="80%">
                                        @foreach (var item in child.CustomOpertions)
                                        {
                                            <input type="checkbox" id="@item.Name" name="moduleName"
                                                   value="@node.Label/@child.Label/@item.Name" /> @item.Label
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </td>
            </tr>
        }
    </table>
}


@section scripts{
    <script language="JavaScript">
        function SelectAll() {
            $("[name='moduleName']").attr("checked", 'true');//全选
        }
        function UnselectAll() {
            $("[name='moduleName']").removeAttr("checked");//取消全选
        }
    </script>
}
