using LCL.MvcExtensions;  
@{  
    ViewBag.Title = "角色权限";  
}  
<!-- Page title --> 
<div class="page-title"> 
    <h2><i class="icon-desktop color"></i> 角色权限 <small>显示所有角色权限</small></h2> 
    <hr /> 
</div> 
<!-- Page title --> 
<div class="awidget"> 
    <div class="awidget-head"> 
        <div class="row"> 
            <div class="col-md-10"> 
                <span>总数：@Model.TotalCount</span> 
            </div> 
            <div class="col-md-2"> 
                <button type="button" class="btn btn-warning pull-right" onclick="javascript: location.href='@Url.Action("AddOrEdit", 
    new { currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';"> 
                    新 增 
                </button>  
            </div> 
        </div> 
    </div> 
    <div class="awidget-body"> 
        <div class="row"> 
            <div class="col-md-12"> 
                <table class="table table-hover table-bordered"> 
                    <thead> 
                        <tr> 
                           <th>操作</th> 
            <th>块</th> 
            <th>模块</th> 
            <th>功能</th> 
            <th>类型</th> 
            <th>更新时间</th> 
            <th>所属角色</th> 
                        </tr> 
                    </thead> 
                    <tbody> 
                        @{ 
                            foreach (var view in Model.PagedModels) 
                            { 
                                <tr> 
                                    <td> 
                                        <button type="button" class="btn btn-xs btn-warning" 
                                                onclick="javascript: location.href = '@Url.Action("AddOrEdit", new { ID = view.ID, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';"> 
                                            <i class="icon-pencil"></i> 
                                        </button> 
                                        <button type="button" class="btn btn-xs btn-danger" 
                                                onclick="javacript: if (confirm('确认要删除这条数据吗？')) {  location.href = '@Url.Action("Delete", new { ID = view.ID, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })'; };"> 
                                            <i class="icon-remove"></i> 
                                        </button> 
                                    </td> 
                    <td>@view.BlockKey</td> 
                    <td>@view.ModuleKey</td> 
                    <td>@view.OperationKey</td> 
                    <td>@view.AuthorityType</td> 
                    <td>@view.UpdateDate</td> 
                    <td>@view.Role_ID</td> 
                                </tr> 
                            } 
                        } 
                    </tbody> 
                </table> 
            </div> 
        </div> 
        @Html.Partial("_PagedListBottom") 
    </div> 
</div>  
  
 
  
