@{ 
    ViewBag.Title = "编辑教师"; 
} 
 
@using LCL.MvcExtensions 
@using UIShell.RbacPermissionService 
@model AddOrEditViewModel<User_Teacher> 
 
<!-- Page title --> 
<div class="page-title"> 
    <h2><i class="icon-desktop color"></i> 教师 <small>  
          @{ 
            string actionTag=""; 
            if (Model.Added) { actionTag = "新增一个教师"; } else { actionTag = "编辑一个教师"; } 
            }@actionTag 
   </small></h2> <hr /> 
</div> 
<!-- Page title --> 
 
<div class="row"> 
    <!--col-md-6 start--> 
    <div class="col-md-12"> 
        <!--box-info start--> 
        <div class="col-md-12"> 
            <!--box-info start--> 
            <div class="awidget"> 
                <div class="awidget-head"> 
                    <h3>教师</h3> 
                </div> 
                <div class="awidget-body"> 
                    <!--form-horizontal row-border start--> 
                    @using (Html.BeginForm(Model.Added ? "Add" : "Edit", "User_Teacher", FormMethod.Post, new { @class = "form-horizontal", @role = "form" })) 
                    { 
                        @Html.HiddenFor(c => c.CurrentPageNum) 
                        @Html.HiddenFor(c => c.PageSize) 
                        @Html.HiddenFor(c => c.Entity.ID) 
 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.IsGetZGZ)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.IsGetZGZ, new { @class = "form-control", @placeholder = "请输入是否取得教师资格证书" }) 
                                @Html.ValidationMessageFor(c => c.Entity.IsGetZGZ) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.GetZGZTime)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.GetZGZTime, new { @class = "form-control", @placeholder = "请输入取得教师资格证书书时间" }) 
                                @Html.ValidationMessageFor(c => c.Entity.GetZGZTime) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.ZGZNo)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.ZGZNo, new { @class = "form-control", @placeholder = "请输入教师资格证书号" }) 
                                @Html.ValidationMessageFor(c => c.Entity.ZGZNo) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.ComputerRank)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.ComputerRank, new { @class = "form-control", @placeholder = "请输入计算机等级" }) 
                                @Html.ValidationMessageFor(c => c.Entity.ComputerRank) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.DegreeID)</label> 
                            <div class="col-sm-10"> 
                                @Html.TextBoxFor(c => c.Entity.DegreeID, new { @class = "form-control", @placeholder = "请输入最高学位" }) 
                                @Html.ValidationMessageFor(c => c.Entity.DegreeID) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">上一级</label> 
                            <div class="col-sm-10"> 
                                 @Html.DropDownList("ddlUser_Teacher", ViewData["ddlUser_Teacher"] as IEnumerable<SelectListItem>) 
                            </div> 
                        </div> 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label">上一级</label> 
                            <div class="col-sm-10"> 
                                 @Html.DropDownList("ddlUser_Teacher", ViewData["ddlUser_Teacher"] as IEnumerable<SelectListItem>) 
                            </div> 
                        </div> 
 
                        <div class="form-group"> 
                            <label class="col-sm-2 control-label"></label> 
                            <div class="col-sm-10"> 
                                <button type="submit" class="btn btn-primary">保存</button>&nbsp;&nbsp; 
                                <button type="button" class="btn btn-default" onclick="javascript: window.history.back();">返回</button> 
                            </div> 
                        </div> 
                         
                         
                    } 
                </div> 
            </div> 
 
        </div> 
    </div> 
</div> 
