@{
    ViewBag.Title = "编辑部门";
}
@using LCL.MvcExtensions
@using UIShell.RbacPermissionService
@model AddOrEditViewModel<Department>

<!-- Page title -->
<div class="page-title">
    <h2>
        <i class="icon-desktop color"></i> 部门 <small>
            @{
                string actionTag = "";
                if (Model.Added) { actionTag = "新增一个部门"; } else { actionTag = "编辑一个部门"; }
            }@actionTag
        </small>
    </h2> <hr />
</div>
<!-- Page title -->
<div class="row">
    <!--form-horizontal row-border start-->
    @using (Html.BeginForm(Model.Added ? "Add" : "Edit", "Department", FormMethod.Post, new { @class = "form-horizontal well", @role = "form" }))
    {
        @Html.HiddenFor(c => c.CurrentPageNum)
        @Html.HiddenFor(c => c.PageSize)
        @Html.HiddenFor(c => c.Entity.ID)
        <input id="Entity_DepartmentType" name="Entity.DepartmentType" type="hidden" value="1" />
        <div class="control-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.Name)</label>
            <div class="controls">
                @Html.TextBoxFor(c => c.Entity.Name, new { @class = "form-control", @placeholder = "请输入名称" })
                @Html.ValidationMessageFor(c => c.Entity.Name)
            </div>
        </div>
        <div class="control-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.OfficePhone)</label>
            <div class="controls">
                @Html.TextBoxFor(c => c.Entity.OfficePhone, new { @class = "form-control", @placeholder = "请输入办公电话" })
                @Html.ValidationMessageFor(c => c.Entity.OfficePhone)
            </div>
        </div>
        <div class="control-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.Address)</label>
            <div class="controls">
                @Html.TextBoxFor(c => c.Entity.Address, new { @class = "form-control", @placeholder = "请输入地址" })
                @Html.ValidationMessageFor(c => c.Entity.Address)
            </div>
        </div>
        <div class="control-group">
            <label class="col-sm-2 control-label">@Html.LabelFor(c => c.Entity.Remark)</label>
            <div class="controls">
                @Html.TextBoxFor(c => c.Entity.Remark, new { @class = "form-control", @placeholder = "请输入描述" })
                @Html.ValidationMessageFor(c => c.Entity.Remark)
            </div>
        </div>

        @*<div class="control-group">
                <label class="col-sm-2 control-label">上一级</label>
                <div class="controls">
                    @Html.DropDownList("ddlDepartment", ViewData["ddlDepartment"] as IEnumerable<SelectListItem>)
                </div>
            </div>*@

    <div class="row actions-bar">
        <div class="form-actions offset3">
            <button type="submit" class="button button-primary">保存</button>
            <button type="button" class="button button-default" onclick="javascript: window.history.back();">返回</button>
        </div>
    </div>
    }
</div>
