@{
    ViewBag.Title = "编辑行政区域";
}
@using LCL.MvcExtensions
@using UIShell.RbacPermissionService
@model AddOrEditViewModel<Xzqy>
<!-- Page title -->
<!--form-horizontal row-border start-->
@using (Html.BeginForm(Model.Added ? "Add" : "Edit", "Xzqy", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    <table class="tb_searchbar">
        <tbody>
            <tr>
                <td class="td_title">
                    @Html.LabelFor(c => c.Entity.HelperCode)
                </td>
                <td>
                    @Html.TextBoxFor(c => c.Entity.HelperCode, new { @class = "easyui-validatebox input",@placeholder = "请输入区划代码" })
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    @Html.LabelFor(c => c.Entity.Name)
                </td>
                <td>
                    @Html.TextBoxFor(c => c.Entity.Name, new { @class = "easyui-validatebox", @placeholder = "请输入区划名称" })
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    @Html.LabelFor(c => c.Entity.Intro)
                </td>
                <td>
                    @Html.TextAreaFor(c => c.Entity.Intro, 8, 60, new { @class = "easyui-validatebox", @placeholder = "请输入区划介绍" })
                </td>
            </tr>

        </tbody>
    </table>
    <table >
        <tbody>
            <tr>
                <td align="left" class="5">
                    <button type="button" class="easyui-linkbutton" onclick="return Save(@Model.Added);">保存</button>
                    <button type="reset" class="easyui-linkbutton">重置</button>&nbsp;&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    @Html.HiddenFor(c => c.CurrentPageNum)
    @Html.HiddenFor(c => c.PageSize)
    @Html.HiddenFor(c => c.Entity.ID)
    @Html.HiddenFor(c => c.Entity.ParentId)
    @Html.HiddenFor(c => c.Entity.AddDate)
    @Html.HiddenFor(c => c.Entity.Level)
    @Html.HiddenFor(c => c.Entity.NodePath)
    @Html.HiddenFor(c => c.Entity.OrderBy)
    @Html.HiddenFor(c => c.Entity.IsLast)
}

@section scripts{
    <script type="text/javascript">
        function VerifyFrom() {
            var Name = $("#Entity_Name").val();
            var Code = $("#Entity_HelperCode").val();
            if (Name.length <= 2) {
                $("#Entity_Name_validationMessage").html("区划名称不能为空");
                $("#Entity_Name").focus();
                return false;
            }
            if (Code.length <= 2) {
                $("#Entity_HelperCode_validationMessage").html("区划代码不能为空");
                $("#Entity_HelperCode").focus();
                return false;
            }
            return true;
        }
        function Save(added) {
            var flg = VerifyFrom();
            if (flg == true) {
                var ID = $("#Entity_ID").val();
                var Name = $("#Entity_Name").val();
                var Remark = $("#Entity_HelperCode").val();

                if (added) {
                    $.post("AjaxAdd", { ID: ID, Name: Name, Remark: Remark }, function (data) {
                        $.messager.alert('系统消息', data.Message);
                    }, "json");
                } else {
                    $.post("AjaxEdit", { ID: ID, Name: Name, Remark: Remark }, function (data) {
                        $.messager.alert('系统消息', data.Message);
                    }, "json");
                }
            }
        }
    </script>
}
