@{
    ViewBag.Title = "平台设置";
}
@using LCL.MvcExtensions;
@using UIShell.RbacPermissionService;
@model GeneralConfigInfo
<div class="easyui-layout" fit="true" id="tb" style=" padding: 5px;background: #fafafa;">
    <!-- Page title -->
    @using (Html.BeginForm("Save", "GeneralConfigInfo", FormMethod.Post, new { @class = "form-horizontal", @name = "form1", @id = "form1" }))
    {
        <table class="tb_searchbar">
            <tr>
                <td width="15%" class="td_title">系统语音</td>
                <td>
                    <select id="LanguageId">
                        <option value="2052" selected="selected">中文</option>
                        <option value="1033">英文</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="15%" class="td_title">系统名称</td>
                <td>
                    @Html.TextBoxFor(c => c.AppName, new { @class = "easyui-validatebox", @placeholder = "请输入网站名称" })
                </td>
            </tr>
            <tr>
                <td class="td_title">系统Logo</td>
                <td>
                    @Html.TextBoxFor(c => c.AppLogo, new { @class = "easyui-validatebox", @placeholder = "请输入网站Logo" })
                </td>
            </tr>
            <tr>
                <td class="td_title">系统地址</td>
                <td>
                    @Html.TextBoxFor(c => c.Appurl, new { @class = "easyui-validatebox", @placeholder = "请输入网站地址" })
                </td>
            </tr>
            <tr>
                <td class="td_title">企业名称</td>
                <td>
                    @Html.TextBoxFor(c => c.CompanyName, new { @class = "easyui-validatebox", @placeholder = "请输入企业名称" })
                </td>
            </tr>
            <tr>
                <td class="td_title">统计代码</td>
                <td>
                    @Html.TextAreaFor(c => c.Statcode, 5, 60, new { @class = "easyui-validatebox", @placeholder = "请输入统计代码" })
                </td>
            </tr>
            <tr>
                <td class="td_title">版权信息</td>
                <td>
                    @Html.TextAreaFor(c => c.Copyright, 5, 60, new { @class = "easyui-validatebox", @placeholder = "请输入版权信息" })
                </td>
            </tr>
            <tr>
                <td class="td_title"></td>
                <td>
                    <button type="submit" class="easyui-linkbutton" iconcls="icon-save">保存</button>
                </td>
            </tr>
        </table>
    }
</div>
