@using LCL.MvcExtensions;  
@{  
    ViewBag.Title = "教师信息审核";  
}  
<!-- Page title --> 
<div class="page-title"> 
    <h2><i class="icon-desktop color"></i> 教师信息审核 <small>显示所有教师信息审核</small></h2> 
    <hr /> 
</div> 
<!-- Page title --> 
<div class="awidget"> 
    <div class="awidget-head"> 
        <div class="row"> 
            <div class="col-md-10"> 
                <span>总数：@Model.TotalCount</span> 
            </div> 
            <div class="col-md-2"> 
                <button type="button" class="btn btn-warning pull-right" onclick="javascript: location.href='@Url.Action("AddOrEdit", 
    new { currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';"> 
                    新 增 
                </button>  
            </div> 
        </div> 
    </div> 
    <div class="awidget-body"> 
        <div class="row"> 
            <div class="col-md-12"> 
                <table class="table table-hover table-bordered"> 
                    <thead> 
                        <tr> 
                           <th>操作</th> 
            <th>学校审核通过</th> 
            <th>学校审核者</th> 
            <th>学校审核时间</th> 
            <th>学校审核意见</th> 
            <th>县局审核通过</th> 
            <th>县局审核者</th> 
            <th>县局审核时间</th> 
            <th>县局审核意见</th> 
            <th>市局审核通过</th> 
            <th>市局审核时间</th> 
            <th>市局审核者</th> 
            <th>市局审核意见</th> 
            <th>省局审核通过</th> 
            <th>省局审核者</th> 
            <th>省局审核时间</th> 
            <th>省局审核意见</th> 
            <th>更新时间</th> 
            <th>隶属教师</th> 
                        </tr> 
                    </thead> 
                    <tbody> 
                        @{ 
                            foreach (var view in Model.PagedModels) 
                            { 
                                <tr> 
                                    <td> 
                                        <button type="button" class="btn btn-xs btn-warning" 
                                                onclick="javascript: location.href = '@Url.Action("AddOrEdit", new { ID = view.ID, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })';"> 
                                            <i class="icon-pencil"></i> 
                                        </button> 
                                        <button type="button" class="btn btn-xs btn-danger" 
                                                onclick="javacript: if (confirm('确认要删除这条数据吗？')) {  location.href = '@Url.Action("Delete", new { ID = view.ID, currentPageNum = Model.CurrentPageNum, pageSize = Model.PageSize })'; };"> 
                                            <i class="icon-remove"></i> 
                                        </button> 
                                    </td> 
                    <td>@view.IsPassSchool</td> 
                    <td>@view.SchoolPassBy</td> 
                    <td>@view.SchoolPassTime</td> 
                    <td>@view.SchoolPassComments</td> 
                    <td>@view.IsPassCounty</td> 
                    <td>@view.CountyPassBy</td> 
                    <td>@view.CountyPassTime</td> 
                    <td>@view.CountyPassComments</td> 
                    <td>@view.IsPassCity</td> 
                    <td>@view.CitylPassTime</td> 
                    <td>@view.CityPassBy</td> 
                    <td>@view.CityPassComments</td> 
                    <td>@view.IsPassProvince</td> 
                    <td>@view.ProvincePassBy</td> 
                    <td>@view.ProvincePassTime</td> 
                    <td>@view.ProvincePassComments</td> 
                    <td>@view.UpdateDate</td> 
                    <td>@view.User_Teacher_ID</td> 
                                </tr> 
                            } 
                        } 
                    </tbody> 
                </table> 
            </div> 
        </div> 
        @Html.Partial("_PagedListBottom") 
    </div> 
</div>  
  
 
  
