@{
    ViewBag.Title = "编辑用户";
}

@using LCL.MvcExtensions;
@using UIShell.RbacPermissionService;

@model User

@{
    string action = ViewBag.Action;
}

<div class="row">
    <!--col-md-6 start-->
    <div class="col-md-12">
        <!--box-info start-->
        <div class="sec-box">
            <a class="closethis">Close</a>
            <header>
                <h2 class="heading">用户信息</h2>
            </header>
            <div class="contents">
                <a class="togglethis">Toggle</a>
                <!--form-horizontal row-border start-->
                @using (Html.BeginForm(action, "Users", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                    if(action.Equals("Edit"))
                    {
                        @Html.HiddenFor(u => u.Name)
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(u => u.Name)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(u => u.Name, new { @class = "form-control", @placeholder = "请输入登录名" })
                                @Html.ValidationMessageFor(u => u.Name)
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Html.LabelFor(u=>u.Password)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @placeholder = "请输入登录密码" })
                            @Html.ValidationMessageFor(u=>u.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" onclick="javascript: Save();">保存用户</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" onclick="javascript: List();">返回</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.BundleContent(BundleActivator.Bundle, "~/Scripts/crud.js")"></script>
    <script>
        $(document).ready(function () {

            $('.bluecheckradios').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}
