@using LCL.MvcExtensions;
@using UIShell.OlsonAdminShellPlugin;
@using UIShell.RbacPermissionService;
@using LCL.MetaModel;
@{
    ViewBag.SideyClass = AppConfig.NavHidden ? "sidey hidden" : "sidey";
    ViewBag.MainyClass = AppConfig.NavHidden ? "mainyExt" : "mainy";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Title here -->
    <title>@ViewBag.Title - @LAppliction.Config.AppName</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='@(Url.BundleContent(BundleActivator.Bundle, "css/font-css.css"))' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/bootstrap.min.css"))" rel="stylesheet">
    <!-- Animate css -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/animate.min.css"))" rel="stylesheet">
    <!-- Gritter -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/jquery.gritter.css"))" rel="stylesheet">
    <!-- Calendar -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/fullcalendar.css"))" rel="stylesheet">
    <!-- Bootstrap toggable -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/bootstrap-switch.css"))" rel="stylesheet">
    <!-- Date and Time picker -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/bootstrap-datetimepicker.min.css"))" rel="stylesheet">
    <!-- Star rating -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/rateit.css"))" rel="stylesheet">
    <!-- Star rating -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/jquery.cleditor.css"))" rel="stylesheet">
    <!-- jQuery UI -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/jquery-ui.css"))" rel="stylesheet">
    <!-- prettyPhoto -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/prettyPhoto.css"))" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/font-awesome.min.css"))" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@(Url.BundleContent(BundleActivator.Bundle, "css/style.css"))" rel="stylesheet">

    @RenderSection("header", required: false)

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>
<body>
    <!-- Logo & Navigation starts -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="#">@LAppliction.Config.AppName</a></h1>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="navbar navbar-inverse" role="banner">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                                <span>顶部菜单</span>
                            </button>
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的设置 <b class="caret"></b></a>
                                    <ul class="dropdown-menu animated fadeInUp">
                                        <li><a href="#" onclick="showOrHideNav();">显示/隐藏导航栏</a></li>
                                        <li><a href="#" onclick="showOrHideNav();">个人信息</a></li>
                                        <li><a href="#" onclick="showOrHideNav();">修改密码</a></li>
                                        <li>@Html.ActionLink("注销", "LogOut", "Account", new { plugin = BundleActivator.Bundle }, null)</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo & Navigation ends -->
    <!-- Page content -->
    <div class="page-content blocky">
        <div class="container">

            <div class="sidebar-dropdown"><a href="#">导航栏</a></div>
            <div id="sidey" class="@ViewBag.SideyClass">

                <div class="side-cont">
                    <ul class="nav">
                        @foreach (var node in CommonModel.Modules.Roots)
                        {
                            if (!node.HasSubMenu())
                            {
                                if (node.IsSelected(ViewContext.RouteData))
                                {
                                    <li class="current">
                                        <a href="@Url.Content(node.CustomUI)">
                                            @if (!string.IsNullOrEmpty(node.Image))
                                            {
                                                <i class="@node.Image"></i>
                                            }
                                            @node.Label
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Content(node.CustomUI)">
                                            @if (!string.IsNullOrEmpty(node.Image))
                                            {
                                                <i class="@node.Image"></i>
                                            }
                                            @node.Label
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                if (node.IsOpened(ViewContext.RouteData))
                                {
                                    <li class="has_submenu current open">

                                        <a href="#">
                                            @if (!string.IsNullOrEmpty(node.Image))
                                            {
                                                <i class="@node.Image"></i>
                                            }
                                            @node.Label
                                            <span class="caret pull-right"></span>
                                        </a>
                                        <!-- Sub menu -->
                                        <ul>

                                            @foreach (var child in node.Children)
                                            {
                                                if (child.IsSelected(ViewContext.RouteData))
                                                {
                                                    <li class="active">
                                                        <a href="@Url.Content(child.CustomUI)">
                                                            @if (!string.IsNullOrEmpty(node.Image))
                                                            {
                                                                <i class="@child.Image"></i>
                                                            }
                                                            @child.Label
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@Url.Content(child.CustomUI)">
                                                            @if (!string.IsNullOrEmpty(child.Image))
                                                            {
                                                                <i class="@child.Image"></i>
                                                            }
                                                            @child.Label
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="has_submenu">
                                        <a href="#">
                                            @if (!string.IsNullOrEmpty(node.Image))
                                            {
                                                <i class="@node.Image"></i>
                                            }
                                            @node.Label
                                            <span class="caret pull-right"></span>
                                        </a>
                                        <!-- Sub menu -->
                                        <ul>
                                            @foreach (var child in node.Children)
                                            {
                                                <li>
                                                    <a href="@Url.Content(child.CustomUI)">
                                                        @if (!string.IsNullOrEmpty(child.Image))
                                                        {
                                                            <i class="@child.Image"></i>
                                                        }
                                                        @child.Label
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            @{
                <div id="mainy" class="@ViewBag.MainyClass">
                    @RenderBody()
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Footer starts -->
    <footer>
        <div class="container">

            <div class="copy text-center">
                Copyright 2015 &copy; - <a href="http://www.cnblogs.com/luomingui">@LAppliction.Config.CompanyName</a>
            </div>

        </div>
    </footer>
    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

    <!-- Javascript for graph -->
    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery-1.10.2.min.js"))"></script>

    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/modernizr-2.6.2.js"))"></script>

    <!-- Bootstrap JS -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/bootstrap.min.js"))"></script>
    <!-- jQuery UI -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery-ui-1.10.2.custom.min.js"))"></script>
    <!-- jQuery Peity -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/peity.js"))"></script>
    <!-- Calendar -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/fullcalendar.min.js"))"></script>
    <!-- jQuery Star rating -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.rateit.min.js"))"></script>
    <!-- prettyPhoto -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.prettyPhoto.js"))"></script>

    <!-- jQuery flot -->
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="@(Url.BundleContent(BundleActivator.Bundle, "js/excanvas.min.js"))"></script><![endif]-->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.flot.js"))"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.flot.pie.js"))"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.flot.stack.js"))"></script>
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.flot.resize.js"))"></script>

    <!-- Gritter plugin -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.gritter.min.js"))"></script>
    <!-- CLEditor -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.cleditor.min.js"))"></script>
    <!-- Date and Time picker -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/bootstrap-datetimepicker.min.js"))"></script>
    <!-- jQuery Toggable -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/bootstrap-switch.min.js"))"></script>
    <!-- Respond JS for IE8 -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/respond.min.js"))"></script>
    <!-- HTML5 Support for IE -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/html5shiv.js"))"></script>
    <!-- Custom JS -->
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/custom.js"))"></script>

    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.validate.min.js"))"></script>
    @*<script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.validate-vsdoc.js"))"></script>*@
    <script src="@(Url.BundleContent(BundleActivator.Bundle, "js/jquery.validate.unobtrusive.min.js"))"></script>

    <script type="text/javascript">

        function showOrHideNav() {
            $.getJSON("@Url.Content("~/UIShell.OlsonAdminShellPlugin/Home/ShowOrHideNav")", null, function (data) {
                if (data.Hidden) {
                    $("#sidey").addClass("hidden");
                    $("#mainy").removeClass("mainy");
                    $("#mainy").addClass("mainyExt");
                }
                else {
                    $("#sidey").removeClass("hidden");
                    $("#mainy").removeClass("mainyExt");
                    $("#mainy").addClass("mainy");
                }
            })
        }

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
